<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>def ${1:fname}(${2:self}):
	${3:pass}</string>
	<key>name</key>
	<string>New Function (def)</string>
	<key>scope</key>
	<string>source.python</string>
	<key>tabTrigger</key>
	<string>def</string>
	<key>uuid</key>
	<string>6499BB56-7BB5-11D9-8E83-000D93B6E43C</string>
</dict>
</plist>
