<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>def get$1(self): return self._$1</string>
	<key>name</key>
	<string>Get Method (get)</string>
	<key>scope</key>
	<string>source.python</string>
	<key>tabTrigger</key>
	<string>get</string>
	<key>uuid</key>
	<string>D1D53498-B33A-11D9-89C9-000D93347A42</string>
</dict>
</plist>
