<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if test \! -e "$TM_NEW_FILE"; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   TM_USERNAME=`niutil -readprop / /users/\$USER realname` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g; s/\t/    /g' \
      &lt; template_in.txt &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>py</string>
	<key>name</key>
	<string>Python Unit Test</string>
	<key>uuid</key>
	<string>7B41B340-B7D1-11D9-AB92-000D93347A42</string>
</dict>
</plist>
