<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/bin/bash

# start up Python in debug mode using either Terminal.app or iTerm.app
# if iTerm is open or if TM_TERMINAL is set to iTerm then use iTerm
# otherwise default to Terminal.app since that is standard.
TP=${TM_TERMINAL:=Terminal}
TPY=${TM_PYTHON:=python}

iTerm_running () {
    ruby &lt;&lt;"RUBY"
        all = `ps -U "$USER" -o ucomm`
        split = all.split("\n")
        if split.find { |cmd| 'iTerm' == cmd.strip }
            STDOUT.write 0
        else
            STDOUT.write 1
        end
RUBY
}

if [ "$TP" == iTerm ] || [ $(iTerm_running) == 0 ]; then
    osascript &lt;&lt;END
        tell application "iTerm"
            activate
            set myterm to (the first terminal)
            tell myterm            
                set mysession to (make new session at the end of sessions)
                tell mysession
                    exec command "/bin/bash -c \"$TPY -m pdb '$TM_FILEPATH' \" " 
                end tell
            end tell
        end tell
END
else
    osascript  &lt;&lt;END2
        tell application "Terminal"
            activate
            do script with command "$TPY -m pdb '$TM_FILEPATH'"
        end tell
END2
fi
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>@D</string>
	<key>name</key>
	<string>Debug Script in Terminal</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>discard</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>504278F6-89F4-11D9-9326-000D93B6E43C</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
