<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/bin/bash

TPY=${TM_PYTHON:-python}

echo '&lt;html&gt;&lt;body&gt;'
"$TPY" "${TM_BUNDLE_SUPPORT}/browse_pydocs.py"
echo '&lt;/body&gt;&lt;/html&gt;'</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^H</string>
	<key>name</key>
	<string>Documentation in Browser</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>095E8342-FAED-4B95-A229-E245B0B601A7</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
