<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>captureFormatString</key>
	<string>$2</string>
	<key>capturePattern</key>
	<string>^(\d+):(.*)$</string>
	<key>command</key>
	<string>grep  -n "^[[:space:]]*\(def\|class\)"</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>lineCaptureRegister</key>
	<string>1</string>
	<key>name</key>
	<string>List defs</string>
	<key>output</key>
	<string>separateWindow</string>
	<key>uuid</key>
	<string>6DCC9590-845D-11D9-9C0C-000D93B6E43C</string>
</dict>
</plist>
