<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string># Run python on the current file
# 
TPY=${TM_PYTHON:=python}
cd `dirname "$TM_FILEPATH"`
$TPY "$TM_FILEPATH"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Python</string>
	<key>output</key>
	<string>separateWindow</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>846B4669-7BAC-11D9-8E83-000D93B6E43C</string>
</dict>
</plist>
