<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># Using source-highlight convert python code to html
# this will be better when we can use this to 
# create a new document.

expand -3 | source-highlight -spython -fhtml</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^~h</string>
	<key>name</key>
	<string>pytohtml new buffer</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>uuid</key>
	<string>3DBAEC85-7D09-11D9-A1F6-000D93B6E43C</string>
</dict>
</plist>
