<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>TPY=${TM_PYTHON:-pythonw}

cd "${TM_DIRECTORY}"
"$TPY" "$TM_FILEPATH"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@R</string>
	<key>name</key>
	<string>Run Script in Python</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>1EFE7452-E7BC-4662-874B-8E4C0FCCF45B</string>
</dict>
</plist>
