<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>TPY=${TM_PYTHON:-python}

"$TPY" "${TM_BUNDLE_SUPPORT}/docmate.py" --extended</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@H</string>
	<key>name</key>
	<string>Show Extended Docstrings</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>8185A923-4178-4230-BD5C-FFFD0267F0A9</string>
</dict>
</plist>
